/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(#7fffd4, #ff00ff);
  height: 500vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  text-shadow: 2px 2px #c0c0c0;
}

nav {
  align-items: center;
  background: linear-gradient(#7fffd4, #ff00ff);
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 50px;
  border-style: groove;
  border-width: 5px;
  margin-bottom: 20px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  padding: 25px;
  margin-top: "20%";
  background-color: "violet";

  border-style: groove;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 100px;
  background: linear-gradient(#7fffd4, #ff00ff);
  border-style: groove;
}

.single-project {
  display: flex;
  align-items: center;
  justify-content: center;
  color: "white";
  padding: 15px;
  border-style: groove;
}

.headshot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-robot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: space-evenly; */
  border-style: groove;
  margin: 5px;
}

.single-robot-name {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 20px;
}

.single-robot-delete {
  display: flex;
  align-items: flex-start;
}
.robot-image {
  display: flex;
  flex-direction: row;
  align-self: right;
}

.project-robots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: groove;
}

.no-robots {
  border: groove;
}

.projectsWheel {
  display: flex;
  flex-direction: row;
}

#single-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#long {
  padding-left: 200px;
  padding-right: 200px;
}
#defaultCanvas0 {
  display: "flex";
  padding-top: 10px;
}

#resume-header {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.phone-email {
  display: flex;
  flex-grow: 2;
  flex-direction: "row";
  align-items: "center";
  justify-content: "space-between";
}

#brain-teez {
  display: flex;
  flex-direction: "row";
}

.project-body {
  display: flex;
  flex-direction: column;
}

.project-header {
  display: flex;
}

.basic-flex {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: "column";
  position: relative;
  top: 50%;
  left: 46%;
  align-items: "center";
  justify-content: "space-evenly";
  background-color: blueviolet;
  border-radius: 30%;
  color: bisque;
}

.descriptor {
  display: flex;
  flex-direction: "column";
  position: relative;
  top: 50%;
  left: 30%;
  align-items: "center";
  justify-content: "space-evenly";
  background-color: blueviolet;
  border-radius: 30%;
  color: bisque;
}
