/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(#7fffd4, #ff00ff);
  height: 500vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #ff00ff;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 50px;
  border-style: groove;
  border-width: 5px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  padding: 15px;

  background-color: "violet";

  border-style: groove;
}

.robots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 5px;
  border-style: groove;
}

.single-project {
  color: "white";
  padding: 15px;
  border-style: groove;
}

.single-robot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: space-evenly; */
  border-style: groove;
  margin: 5px;
}

.single-robot-name {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 20px;
}

.single-robot-delete {
  display: flex;
  align-items: flex-start;
}
.robot-image {
  display: flex;
  flex-direction: row;
  align-self: right;
}

.project-robots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: groove;
}

.no-robots {
  border: groove;
}
